body {
    margin: 0;
    /* background-image: url("../img/background1.jpg"); */
    font-size: Arial, Helvetica, sans-serif;
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    color: white;
    background-color: #0C2431;

}

header {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > div {
    margin: 2rem;
}

.photo {
    width: 15rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15rem;
    background: linear-gradient(to top, #0011de, #F54586);
}

.photo > div {
    width: 95%;
    height: 95%;
    border-radius: 15rem;
    background-image: url('https://i.pravatar.cc');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 95%;
}

.title h1 {
    display: flex;
    flex-direction: column;
}

.title span {
    color: #F54586;
}

.title > p {
    font-size: 100;
}

.line {
    width: .1rem;
    height: 80%;
    border-radius: 1rem;
    background: white;
}

.about {
    max-width: 20%;
    display: flex;
    flex-direction: column;
}

.about > p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.contact {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}

.contact > div {
    width: 3rem;
    height: 3rem;
    margin: 0 .5rem;
    border-radius: 50%;
    background: linear-gradient(-90deg, #F54586 0%, #5353A7 100%);
}

.contact > .phone {
    margin-left: 0;
}

.contact > .linkedin {
    margin-right: 0;
}

.contact > div a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact > div img {
    width: 70%
}

.skills, .experiences{
    width: 80%;
    height: 50rem;
    margin: 10%;
    border-radius: 10%;
    background-image: linear-gradient(-90deg, #6C264A 0%, #252A57 100%);
    border-radius: 16px;
}

@media screen and (max-width: 1024px) {
    header {
        height: auto;
        flex-wrap: wrap;
    }

    .line {
        display: none;
    }

    .about {
        max-width: 100%;
        width: 100%;
    }
}